alloca.c
alloca.h
alloca.in.h
btowc.c
charset.alias
config.charset
configmake.h
errno.h
errno.in.h
error.c
error.h
exitfail.c
exitfail.h
fseeko.c
getdelim.c
getline.c
getopt.c
getopt.h
getopt.in.h
getopt1.c
getopt_int.h
getpass.c
getpass.h
gettext.h
gnulib.mk
intprops.h
localcharset.c
localcharset.h
lseek.c
malloc.c
malloca.c
malloca.h
malloca.valgrind
mbrtowc.c
mbsinit.c
obstack.c
obstack.h
realloc.c
ref-add.sed
ref-add.sin
ref-del.sed
ref-del.sin
regcomp.c
regex.c
regex.h
regex_internal.c
regex_internal.h
regexec.c
setenv.c
stdbool.h
stdbool.in.h
stddef.h
stddef.in.h
stdint.h
stdint.in.h
stdio-impl.h
stdio-write.c
stdio.h
stdio.in.h
stdlib.h
stdlib.in.h
strdup.c
streq.h
strerror.c
string.h
string.in.h
sysexits.h
sysexits.in.h
unistd.h
unistd.in.h
verify.h
wchar.h
wchar.in.h
wcrtomb.c
wctype.h
wctype.in.h
xalloc-die.c
xalloc.h
xmalloc.c
